@model IDataResult<Product>
<div class="forms">
    <h2 class="title1">Product Edit</h2>
    <div class=" form-grids row form-grids-right">
        <div class="widget-shadow " data-example-id="basic-forms">
            <div class="form-title">
                <h4>Edit Product :</h4>
            </div>
            <div class="form-body">
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Title" required
                                   id="role" placeholder="Product Title" value="@Model.Data.Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label">Link</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Name" required
                                   id="role" placeholder="Product Link" value="@Model.Data.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label">Image Link</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="ImageLink"
                                   id="role" placeholder="Image Link" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-9">
                            <select asp-items="@ViewBag.categoryValues" asp-for="@Model.Data.Category.Id"
                                    name="CategoryId"
                                    class="form-control" required>
                                <option selected>@Model.Data.Category.Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-9">
                            <select asp-items="@ViewBag.catalogValues" asp-for="@Model.Data.Catalog.Id"
                                    name="CatalogId"
                                    class="form-control" required>
                                <option selected>@Model.Data.Catalog.Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-default">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
