@model IDataResult<IEnumerable<Favourit>>
<div class="body-wrapper">
    <!-- Begin Header Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Wishlist</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <!--Wishlist Area Strat-->
    <div class="wishlist-area pt-60 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#">
                        <div class="table-content table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="li-product-remove">remove</th>
                                        <th class="cart-product-name">Product</th>
                                        <th class="cart-product-name">Category</th>
                                        <th class="cart-product-name">Catalog</th>
                                        <th class="li-product-stock-status">Stock Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        @foreach (var item in Model.Data)
                                        {
                                            <tr>
                                                <td class="li-product-remove">
                                                    <a href="#" onclick="DeleteFromFavourits(@item.Id)">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </td>
                                                @if (item.Product.ImageLink == null)
                                                {
                                                    <td class="li-product-name">
                                                        <a href="#">@item.Product.Title</a>
                                                    </td>
                                                }
                                                <td class="li-product-name">
                                                    @Html.Raw(item.Product.ImageLink)
                                                </td>
                                                <td class="li-product-name">
                                                    <a href="#">@item.Product.Category.Name</a>
                                                </td>
                                                <td class="li-product-name">
                                                    <a href="#">@item.Product.Catalog.Name</a>
                                                </td>
                                                <td class="li-product-stock-status">
                                                    <span class="in-stock">in stock</span>
                                                </td>
                                            </tr>
                                        }

                                    }
                                    else
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="container">
                                                    <h1 class="lead">
                                                        No Favourit Products Find
                                                        <i class="fa fa-meh-o"></i>
                                                    </h1>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Wishlist Area End-->
</div>

@section Scripts{
    <script>
        function DeleteFromFavourits(id) {
            console.log(id)
            $.ajax({
                url: "/Cart/Delete",
                type: "POST",
                data: { id: id },
                success: function (res) {
                    location.reload();
                }
            }).done(function (res) {
                console.log(res)
            })
        }
    </script>
}
