@model HomeVM

<!--Banner start-->
<div class="container">
    <div class="row">
    </div>
</div>
<!--Banner end-->

<div class="product-area pt-60 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                        <li><a class="active" href="#li-new-product"><span>New Arrival</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="li-new-product" class="tab-pane active show" role="tabpanel">
                <div class="row">
                    <div class="product-active owl-carousel">
                        @if (Model != null)
                        {
                            <!--New Products here-->
                            @foreach (var item in Model.NewProducts)
                            {
                                <div class="col-lg-12 col-md-8 col-sm-2">
                                    <div class="single-product-wrap">
                                        <h6>
                                            <a class="product_name lead" id="product_name_@item.Id"
                                               href="#">
                                                @item.Title
                                            </a>
                                        </h6>
                                        <div class="product-image">
                                            @Html.Raw(item.Name)
                                            <span class="sticker">New</span>    
                                        </div>
                                        <div class="product_desc">
                                            <div class="product_desc_info">
                                                <h4>
                                                    <a class="badge badge-danger badge-large text-light"
                                                       href="#" onclick="AddToFavourits(@item.Id,event)">
                                                       Add to Wishlist
                                                   </a>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li>
                                                    <a class="links-details"
                                                       href="#" onclick="AddToFavourits(@item.Id,event)">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Product Area End Here -->

<!-- Begin Li's Trending Product Area -->
<section class="product-area li-trending-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Tab Menu Area -->
            <div class="col-lg-12">
                <div class="li-product-tab li-trending-product-tab">
                    <h2>
                        <span>Trendding Products</span>
                    </h2>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
                <div class="tab-content li-tab-content li-trending-product-content">
                    <div id="home1" class="tab-pane show fade in active">
                        <div class="row">
                            <div class="product-active owl-carousel">
                                <!--Trending products-->
                                @if (Model != null)
                                {
                                    @foreach (var item in Model.TrendingProducts)
                                    {
                                        <div class="col-lg-12 col-md-8 col-sm-2">
                                            <div class="single-product-wrap">
                                                <h6>
                                                    <a class="product_name lead" id="product_name_@item.Id"
                                                       href="#">
                                                        @item.Title
                                                    </a>
                                                </h6>
                                                <div class="product-image">
                                                    @Html.Raw(item.Name)
                                                    <span class="sticker">Trend</span>
                                                </div>
                                                <div class="product_desc">
                                                    <div class="product_desc_info">
                                                        <h4>
                                                            <a class="badge badge-danger badge-large text-light"
                                                               href="#" onclick="AddToFavourits(@item.Id,event)">
                                                                Add to Wishlist
                                                            </a>
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li>
                                                            <a class="links-details"
                                                               href="#"
                                                               onclick="AddToFavourits(@item.Id)">
                                                                <i class="fa fa-heart-o"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab Menu Content Area End Here -->
            </div>
            <!-- Tab Menu Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Trending Product Area End Here -->
@section Scripts{
    <script>

        function IncreaseHitCount(id) {
            $.ajax({
                url: "/Home/IncreaseHit",
                type: "POST",
                data: { id: id },
                success: function (res) {
                    if (res != null) {
                        console.log(res);
                    }
                }
            })
        }

        function AddToFavourits(productId) {
            const dataObject = {
                ProductId: productId,
            }
            $.ajax({
                url: "/Home/AddToFavourits",
                type: "POST",
                data: dataObject,
                success: function (res) {
                    if (res != null) {
                        Swal.fire(
                            'Added to Favourits!',
                            '',
                            'success'
                        )
                        IncreaseHitCount(productId);
                    }
                }
            })
        }



    </script>
}